environment          = "dev"
aws_region           = "us-east-1"
project_name         = "dna-automacao"
domain_name          = "automacao-dev.dnafacilities.com.br"
acm_certificate_arn  = "arn:aws:acm:us-east-1:123456789012:certificate/xxxxxxxx"
api_gateway_url      = "https://xxxxxxxxxx.execute-api.us-east-1.amazonaws.com/dev"
cognito_user_pool_id = "us-east-1_xxxxxxxxx"
cognito_client_id    = "xxxxxxxxxxxxxxxxxxxxxxxxxx"
cognito_domain       = "dna-automacao-dev"
waf_acl_arn          = ""
